* {
  margin:0
}

body {
  font-family:arial;
  background-image: url("../../background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1{
  font-family: Century Gothic;
}

h2{
  position: relative;
  top: 15px;
  left: 30px;
  width: 90%;
  background-color: rgb(242, 181, 62);
  padding: 6px;
  color: rgb(250, 254, 252);
}

a{
  float: right;
  text-decoration: none;
  color: white;
  position: relative;
  top: -30px;
}

.wrap {
  width:1000px;
  margin:0 auto;
}

.header {
  width:auto;
  background:rgba(0, 153, 204, 0.67);
  padding:20px;
  color:#fff;
}

.main {
  width:100%;
  background:#333;
}

.headerkecil{
    width:auto;
    padding:20px 10px;
    background:#2b2b2b;
    color:#fff ;
}

.menubawah{
  float:left;
  position: relative;
  top: 20px;
}

.aa{
  width:140px;
  padding-left: 30px;
  padding-right: 30px;
  background: #2b2b2b;
  color: rgb(210, 208, 207);
}

.aa:hover{
  background: rgb(60, 58, 58);
  border-radius:130px;
}

.bb{
  width:140px;
  padding-left: 30px;
  padding-right: 7px;
  background: #2b2b2b;
  color: rgb(210, 208, 207);
}

.bb:hover{
  background: rgb(60, 58, 58);
  border-radius:130px;
}

.cc{
  width:140px;
  padding-left: 30px;
  padding-right: 1px;
  background: #2b2b2b;
  color: rgb(210, 208, 207);
}

.cc:hover{
  background: rgb(60, 58, 58);
  border-radius:130px;
}

.dd{
  width:140px;
  padding-left: 30px;
  background: #2b2b2b;
  color: rgb(210, 208, 207);
}

.dd:hover{
  background: rgb(60, 58, 58);
  border-radius:130px;
}

.ee{
  width:140px;
  padding-left: 30px;
  background: #2b2b2b;
  color: rgb(210, 208, 207);
}

.ee:hover{
  background: rgb(60, 58, 58);
  border-radius:130px;
}

.content {
  float:right;
  width:96%;
  height: 100%;
  background:rgba(255, 251, 254, 0.85);
  padding:2%;
  min-height:400px;
  border-radius: 10px;
}

.contentkecil{
  float:left;
  position: relative;
  top: 40px;
  left: 60px;
  color: rgb(65, 65, 65);
}

.inputan1{
  width:620px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(65, 65, 65);
  border: 1px solid rgb(206, 205, 209);
  border-radius: 5px;
  position: relative;
  left: 50px;
}

.inputan2{
  width:620px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(65, 65, 65);
  border: 1px solid rgb(206, 205, 209);
  border-radius: 5px;
  position: relative;
  left: 82px;
}

.inputan3{
  width:620px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(65, 65, 65);
  border: 1px solid rgb(206, 205, 209);
  border-radius: 5px;
  position: relative;
  left: 140px;
}

.inputan4{
  width:620px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 60px;
  color: rgb(65, 65, 65);
  border: 1px solid rgb(206, 205, 209);
  border-radius: 5px;
  position: relative;
  left: 130px;
}

.inputan5{
  width:620px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(65, 65, 65);
  border: 1px solid rgb(206, 205, 209);
  border-radius: 5px;
  position: relative;
  left: 101px;
}

.inputan6{
  width:620px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(65, 65, 65);
  border: 1px solid rgb(206, 205, 209);
  border-radius: 5px;
  position: relative;
  left: 80px;
}

.inputan7{
  width:620px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(65, 65, 65);
  border: 1px solid rgb(206, 205, 209);
  border-radius: 5px;
  position: relative;
  left: 67px;
}

.inputan8{
  width:620px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(65, 65, 65);
  border: 1px solid rgb(206, 205, 209);
  border-radius: 5px;
  position: relative;
  left: 117px;
}

.inputan9{
  width:620px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(65, 65, 65);
  border: 1px solid rgb(206, 205, 209);
  border-radius: 5px;
  position: relative;
  left: 72px;
}

#tombol{
  float: right;
  position: relative;
  margin-right: 450px;
}

.tombol{
  color: white;
  margin-bottom: 5px;
  width: 100px;
  height: 30px;
  left: 70px;
  border-radius: 8px;
  padding: 0px;
  background: rgb(196, 30, 90);
}

.tombol:focus{
  background: rgb(46, 81, 129);
}

.tombol:hover{
  background: rgb(46, 81, 129);
}

.clear {clear:both}

.footer {
  width:auto;
  padding:5px 10px;
  background:rgb(0, 153, 204, 0.67);
  color:#fff;
}

.titik{
  position: relative;
  bottom: 10px;
}
